<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bangshuo.kuaigong.mapper.HourlengthallMapper">
		<resultMap id="BaseResultMap"  type="com.bangshuo.kuaigong.po.EmployeeHourLength" >
				<id column="id" property="id" jdbcType="INTEGER"/>
				<result column="eeid" property="eeid" jdbcType="INTEGER" />
				<result column="hourlength" property="hourlength" jdbcType="VARCHAR"/>
				<result column="flustime" property="flustime" jdbcType="VARCHAR"/>
				<result column="count" property="count" jdbcType="VARCHAR"/>
		</resultMap>
		<resultMap type="com.bangshuo.kuaigong.po.EmployeeHourLengthToEmployeeUser" id="selectHour" 
		extends="BaseResultMap">
		 	<result column="name" property="name" jdbcType="VARCHAR"/>
		 	<result column="username" property="username" jdbcType="VARCHAR"/>
		</resultMap>
	

<select id="selectHourLength" resultMap="selectHour">
SELECT
	hourlengthall.*, 
	employee_user.name,
	employee_user.username
FROM
	hourlengthall
LEFT JOIN employee_user ON hourlengthall.eeid = employee_user.id
where 1=1
		<if test="name != null">
and employee_user.name like  #{name,jdbcType=VARCHAR} '%'
</if>
<if test="username != null">
and employee_user.username like #{username,jdbcType=VARCHAR} '%'
</if>
</select>

<select id="selectHourLengthPgae" resultMap="selectHour">
SELECT
	hourlengthall.*, 
	employee_user.name,
	employee_user.username
FROM
	hourlengthall
LEFT JOIN employee_user ON hourlengthall.eeid = employee_user.id
where 1=1
		<if test="name != null">
and employee_user.name like  #{name,jdbcType=VARCHAR} '%'
</if>
<if test="username != null">
and employee_user.username like #{username,jdbcType=VARCHAR} '%'
</if>
limit #{page},#{pageSize}
</select>

	<!-- 查询条数 -->
	<select id="selectNum" resultMap="BaseResultMap" parameterType="com.bangshuo.kuaigong.po.Company">
SELECT
	count(hourlengthall.id)as count, 
	employee_user.name,
	employee_user.username
FROM
	hourlengthall
LEFT JOIN employee_user ON hourlengthall.eeid = employee_user.id
where 1=1
		<if test="name != null">
and employee_user.name like  #{name,jdbcType=VARCHAR} '%'
</if>
<if test="username != null">
and employee_user.username like #{username,jdbcType=VARCHAR} '%'
</if>
	</select>
</mapper>